.navbar {
    width: 5rem;
    height: 100vh;
    inset: 0 auto 0 0;
    position: fixed;
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    background-color: 
    light-dark(
        var(--mantine-color-gray-3),
        var(--mantine-color-dark-8)
    );
}

.link{
    padding: 0;
    width: 3rem;
    height: 3rem;
    color: light-dark(
        var(--mantine-color-gray-7),
        var(--mantine-color-dark-0)
    );

    transition: background-color 200ms ease-in-out;
    
    &:hover{
        background-color:
        light-dark(
            var(--mantine-color-gray-2),
            var(--mantine-color-dark-5)
        );  
    }
}